header {
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;
}

.dsmovie-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dsmovie-contact-container {
    display: flex;
}

.dsmovie-contact-link {
    margin: 0;

}